
.nav{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 1rem  0;
  gap: 5rem;
}

.nav > a{
  font-size: 1.6rem; 
  font-weight: 600;
  color: #000;;
}

.canvas_menu{
  width: 40%;
  height: 100vh;
  position: fixed;
  z-index: 10;
  /* background-color: var(--primary); */
  background-color: #2798B7;; 
  top: 0;
  right: -40%;
  padding: 3rem;
  transition: .5s cubic-bezier(0.57, 0, 0.06, 0.95);
  
}


/* Nav designs */

.logapp{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* .logapp_small{
  display: flex;
  align-items: center;
  padding-top: 1rem;
  gap: .3rem;
  display: none !important;
} */

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 0.3rem;
  border-radius: 10%;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: .7rem;
}


.apply{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 0.3rem;
  border-radius: 10%;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #2798B7;
 
}

.contacts{
  display: flex;
  justify-content: center;
}


.navlinks{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem  0;
  gap: 1rem;
  font-size: 1.2rem; 
}


.home{
  display: none !important;
  font-size: 1.2rem; 
  /* padding: 1rem  0; */
}


.contacts > a{
  padding: .2rem;
}

.logo{
  display: flex;
  margin-left: 5rem;
}


.menuicon{
  /* visibility: hidden; */
  display: none !important;
}


.close_icon{
  position: absolute;
  top:0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
}

.canvas_menu.active{
  right: 0;
  top: 0;
  position: fixed;
}

.canvas_content{
  display: flex;
  /* margin-top: 2vh; */
}

.social h4, .menu h4{
  color: var(--secondary);
  font-weight: 400;
}

.social p, .menu p{
  color: var(--dark);
  cursor: pointer;
  transition: all .3s;
}

.social{
  width: 40%;
}

.social p{
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.menu p{
  font-size: 1.5rem;
}

.social p:hover, .menu p:hover{
  margin-left: 10px;
  opacity: .8;
}







@media screen and (max-width: 1280px){
  .canvas_menu{
    width: 60%;
    right: -60%;
  }

  .contacts{
    display: none !important;
  }

  .nav{
    justify-content: space-between;
  }
}


@media screen and (max-width: 925px){
  .navlinks{
    display: none !important;
  }

  .menuicon{
    display: unset !important;
  }
}


@media screen and (max-width: 767px){
  .canvas_menu{
    width: 100%;
    right: -100%;
  }
  .canvas_content{
    flex-direction: column;
    margin-top: 2%;
  }

  .social > div{
    display: flex;
    gap: 10px;
  }

  .social > div > p > span{
    display: none;
  }

  .menu p{
    font-size: 1.3rem;
  }

  .nav{
    margin-top: 3rem;
  }

  .logapp{
    position: absolute;
    top: 0rem;
    left: 8rem;
  }

  .home{
    display: unset !important;
  }

}


/* @media screen and (max-width: 580px){
  
  .nav{
    justify-content: space-between;
  }


  .logapp_large{
    display: unset !important;
  }
  
} */


.email{
  position: absolute;
  bottom: 0;
}

.email > p{
  color: var(--secondary);
}

.email h2{
  color: var(--dark);
  font-weight:300;
}