.hero{
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 10px;
}

.col_1{
  display: flex; 
  align-items: center;
  margin: 8px;
  margin-top: 0%;
  margin-bottom: 0%;
}

.col_1 > div > h1{
  font-weight: 400px;
  color: #2798B7;
}

.question{
  font-size: 1.2rem;
  padding: auto;
}



.col_2 > div{
  display: flex;
  /* gap: 1.8rem; */
  margin-bottom: 0%;
  
}


@media screen and (max-width: 767px){
  .hero{
    grid-template-columns: repeat(1 , 1fr);
  }

  .col_1 > div{
    flex-direction: column;
    text-align: left;
    margin-bottom: 3rem; 
    align-items: center;
    justify-content: center;
  } 

  .col_1{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .col_1 >div> h1{
    font-size: 2rem;
    color: #2798B7;
  }

 
  .col_1 >div> Button{
    font-size: 1.2rem;
    position: relative;
    
  }

  .swiper {
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    width: 600px;
    }
}


@media screen and (min-width: 1032px){
  .swiper {
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  width: 400px;
  }
}
  
/* @media screen and (min-width: 1032px){
  .swiper {
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  width: 400px;
  }
} */
  